#react-logo{
    color: #00d8ff;
}
#imdb-logo{
    color: #f5de50;
}
.brand-text{
    font-size: 2rem;
}
#movies img, #movies img{
    width: 100%;
}
@media (min-width: 960px){
    #movies .col-md-3 .well{
        height: 390px;
    }
    #movies .col-md-3 img{
        height: 240px;
    }
}
body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  #footer {
    position: absolute;
    right: 0;bottom:0;left:0;
  }